%vote_state = state['votes'][post.id]
%for voter, vote in vote_state['current_votes'].items():
{{fix_case(voter)}} voted {{"lynch" if vote['lynch'] else "pardon"}} at {{time(vote['timestamp'])}}
%end
